
Entrenamientos/.ipynb_checkpoints/Analisis Track (Machine Learning)-checkpoint.ipynb
Machine Learning/Regression-Tramos-David-06-May.ipynb
Machine Learning/RFClassifier.csv
Machine Learning/.ipynb_checkpoints/PedaleaNoPedalea-checkpoint.ipynb
Machine Learning/.ipynb_checkpoints/PedaleaNoPedalea-20180508-checkpoint.ipynb
Machine Learning/.ipynb_checkpoints/PedaleaNoPedalea-checkpoint.ipynb
Machine Learning/Regression-Tramos-David-06-May.ipynb
Machine Learning/.ipynb_checkpoints/PedaleaNoPedalea-checkpoint.ipynb
Machine Learning/PedaleaNoPedalea-20180508.ipynb
Machine Learning/Regression-Tramos-David-06-May.ipynb
Machine Learning/.ipynb_checkpoints/PedaleaNoPedalea-checkpoint.ipynb
