
Entrenamientos/.ipynb_checkpoints/Analisis Track (Machine Learning)-checkpoint.ipynb
Machine Learning/Regression-Tramos-David-06-May.ipynb
Machine Learning/RFClassifier.csv
Machine Learning/.ipynb_checkpoints/PedaleaNoPedalea-checkpoint.ipynb
Machine Learning/.ipynb_checkpoints/PedaleaNoPedalea-20180508-checkpoint.ipynb
Machine Learning/.ipynb_checkpoints/PedaleaNoPedalea-checkpoint.ipynb
Machine Learning/Regression-Tramos-David-06-May.ipynb
Machine Learning/.ipynb_checkpoints/PedaleaNoPedalea-checkpoint.ipynb
Machine Learning/PedaleaNoPedalea-20180508.ipynb
Machine Learning/Regression-Tramos-David-06-May.ipynb
Machine Learning/.ipynb_checkpoints/PedaleaNoPedalea-checkpoint.ipynb
Machine Learning/.ipynb_checkpoints/TF-checkpoint.ipynb
Machine Learning/.ipynb_checkpoints/TF_2-checkpoint.ipynb
RNN/.ipynb_checkpoints/TF-checkpoint.ipynb
Simulador/.ipynb_checkpoints/Pruebas_Simulacion-checkpoint.ipynb
Simulador/.ipynb_checkpoints/Pruebas_Simulacion-checkpoint.ipynb
Simulador/.ipynb_checkpoints/Pruebas_Simulacion-checkpoint.ipynb
Simulador/.ipynb_checkpoints/Pruebas_Simulacion-checkpoint.ipynb
Machine Learning/RandomForestRegressor (V en funcion de W).ipynb
Entrenamientos/Analisis Track (Machine Learning) N_files.ipynb
Simulador/.ipynb_checkpoints/Pruebas_Simulacion-checkpoint.ipynb
Entrenamientos/Analisis Track (Machine Learning) N_files.ipynb
Machine Learning/RandomForestRegressor (V en funcion de W).ipynb
Machine Learning/.ipynb_checkpoints/Warm-Start simulación-checkpoint.ipynb
RNN/Scaler.model
RNN/TF.ipynb
RNN/TF_Tramos_2.model
Entrenamientos/.ipynb_checkpoints/Analisis Track (Machine Learning) N_files-checkpoint.ipynb
Entrenamientos/Procesado.xlsx
Entrenamientos/Procesado_Tramos.xlsx
Entrenamientos/~$Procesado.xlsx
Entrenamientos/~$Procesado_Tramos.xlsx
RNN/.ipynb_checkpoints/TF-dsm-checkpoint.ipynb
